@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.nav-wrapper{
    width: 75%;
	margin: 0 auto; 
}


.searchBox{
	background-color: #ef9a9a;
}

.container{
    width: 75%;
	margin: 0 auto; 
}