
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('icons.woff2') format('woff2')
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.container{
    width: 75%;
    margin: 0 auto; 
}

.searchBox{
	background-color: #ef9a9a;
}
.input-field label{
  color: #1e88e5;
}

.input-field label.active{
  color: #42a5f5;
}

nav{
  background-color: #1A1F54;
}

.dropdown-content li>span, .select-dropdown li.disabled>span{
  background-color: #1e88e5;
  color: #ffffff;
}

.dropdown-content li:not(.disabled)>span:hover{
  background-color: #ff8f00;
}


input[type=text]:focus:not([readonly])+label{
  color:#ff8f00;
}


.select-wrapper input.select-dropdown,
input[type="text"],
input[type="date"]{
  color: #ffffff;
  border-bottom: 1px solid #0d47a1;
  box-shadow: 0px 1px 0px 0px #0d47a1;
}

.picker__input.picker__input--active,
input[type=text]:focus:not([readonly]){
  color: #ffffff;
  border-bottom: 1px solid #ff8f00;
  box-shadow: 0px 1px 0px 0px #ff8f00;
}

input[type=text].invalid,
.select-wrapper input.select-dropdown.valid,
input[type=text].valid,
input[type=date].valid{
  color: #ffffff;
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0px 1px 0px 0px #1e88e5; 
}