/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/********************************
 Color del texto de las paginas
********************************/
body {
	color: #616161;
	background-color: #fafafa;
}

/********************************
 Links
********************************/
a {
  color: #0097a7;
}

/********************************
 Para compensar el menu lateral
********************************/
header, main, footer {
	padding-left: 240px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.MatModal-container {
	margin-left: 100px;
}
@media only screen and (max-width : 992px) {
	.MatModal-container {
		margin-left: 0;
	}
}

/********************************
 Botones planos
********************************/
.btn-flat {
  color: #ffffff;
}

/********************************
 Fuente de iconos material design
********************************/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/**************************
 hover para cards
**************************/
.cyanHoverable:hover {
    transition: background-color .5s;
  	background-color: #0097a7;
  	cursor:pointer;
}

/***********************
 Colores de la navbar
***********************/
nav {
  background-color: #0097a7;
}
nav ul li:hover, nav ul li.active {
	background-color: #0097a7;
}
.side-nav {
	background-color: #fafafa;
}
.side-nav a {
    color: #fff;
}
.side-nav li:hover, .side-nav li.active {
	background-color: #0097a7;
}
.side-nav li:hover a, .side-nav li.active a {
	color: #fafafa;
	transition: color 0s;
}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
	background-color: #0097a7;
}
.side-nav .collapsible-body {
	background-color: #fafafa;
}
.navbar-no-hover:hover{
	background-color: #fafafa !important;
}

/***************************
 Select inputs
***************************/
.dropdown-content li:hover, .dropdown-content li.active {
	background-color: #eeeeee;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #616161;
}

/***************************
 Links de accion de cards
***************************/
.card .card-action a {
	color: #fff;
}

/***************************
 Colores de los inputs
***************************/
.input-field input[type=email]:focus+label, .input-field input[type=text]:focus+label, .input-field input[type=password]:focus+label
	{
	color: #0097a7;
}
.input-field input[type=email]:focus, .input-field input[type=text]:focus, .input-field input[type=password]:focus
	{
	border-bottom: 1px solid #0097a7;
	box-shadow: 0 1px 0 0 #0097a7;
}
.input-field input[type=email].valid, .input-field input[type=text].valid, .input-field input[type=password].valid
	{
	border-bottom: 1px solid #0097a7;
	box-shadow: 0 1px 0 0 #0097a7;
}
.input-field .prefix.active {
	color: #0097a7;
}

/*********************
 Toasts
*********************/
.toast {
	background-color: #fff8e1;
	color: #616161;
	font-size: 1.2rem;
}

/*********************
 Blockquotes
*********************/
blockquote {
	border-left: 5px solid #0097a7;
}

/***********************************
 Color del highlight de las tablas
***********************************/
table.highlight>tbody>tr:hover {
	background-color: #fff8e1;
}

/***********************************
 Para seleccionar filas de una tabla
***********************************/
.rowSelected {
	-webkit-transition: background-color .25s ease;
	-moz-transition: background-color .25s ease;
	-o-transition: background-color .25s ease;
	-ms-transition: background-color .25s ease;
	transition: background-color .25s ease;
	background-color: #f5f5f5 !important;
}
.rowSelected:hover {
	background-color: #eeeeee !important;
}

/***********************************
 Iconos que sean links
***********************************/
.actionLink{
	-moz-transition: color .1s ease-in;
    -o-transition: color .1s ease-in;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
	color: #0097a7;
}
.actionLink:hover {
	color: #00838f;
	cursor: pointer;
}

/***********************************
 DatePicker
***********************************/
.picker__date-display {
	background-color: #c0ca33;
}
.picker__nav--prev:hover, .picker__nav--next:hover {
	background: #d4e157;
}
.picker__weekday-display {
	background-color: #9e9d24;
}
.picker__day.picker__day--today {
	color: #c0ca33;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #c0ca33;
}
.picker__day--selected.picker__day--outfocus, .picker__day--selected:hover.picker__day--outfocus, .picker--focused .picker__day--selected.picker__day--outfocus {
	background-color: #d4e157;
}
.picker__close, .picker__today {
	color: #c0ca33;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
	background-color: #d4e157;
}

/***********************************
 Switches
***********************************/
.switch label input[type=checkbox]:checked+.lever {
	background-color: #b2ebf2;
}
.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #0097a7;
}

/***********************************
 Radio buttons
***********************************/
[type="radio"]:checked+label:after {
	border: 2px solid #0097a7;
	background-color: #0097a7;
}
[type="radio"].with-gap:checked+label:before {
	border: 2px solid #0097a7;
}
[type="radio"].with-gap:checked+label:after {
	border: 2px solid #0097a7;
	background-color: #0097a7;
}

/***********************************
 Checkbox
***********************************/
[type="checkbox"]:checked+label:before {
	border-right: 2px solid #0097a7;
	border-bottom: 2px solid #0097a7;
}
[type="checkbox"]:indeterminate+label:before {
	border-right: 2px solid #0097a7;
}
[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #0097a7;
	background-color: #0097a7;
}

/***********************************
 Preloader
***********************************/
.spinner-green, .spinner-cyan-only {
	border-color: #0097a7;
}

/***********************************
 Para las graficas de C3
***********************************/
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
	stroke: rgb(158, 158, 158);
	stroke-width: 1px;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line, .c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
	stroke: rgb(158, 158, 158);
	stroke-width: 1px;
}
.c3-axis-y text, .c3-axis-y2 text {
	fill: rgb(117, 117, 117);
	font-size: 12px;
	font-family: Roboto, sans-serif;
	white-space: nowrap;
}
.c3-axis-x text {
	font-size: 12px;
	fill: rgb(117, 117, 117);
	font-family: Roboto, sans-serif;
	white-space: nowrap;
}
.c3-line {
	stroke-width: 2px;
}

/***********************************
 Tablas de contenido (scrollspy)
***********************************/
.table-of-contents a {
	padding-left: 18px;
	padding-right: 10px;
}
.table-of-contents a:hover {
	padding-left: 16px;
	border-left: 2px solid #cddc39;
}
.table-of-contents a.active {
	padding-left: 15px;
	border-left: 3px solid #cddc39;
}

/***********************************
 Para las colecciones
***********************************/

.collection {
  margin: 0 0 0 0;
  border: 0px solid #e0e0e0;
}
.collection a.collection-item {
	color: #0097a7;
}
.secondary-content {
	color: #616161;
}

/***********************************
 Texto responsive que depente del font-size del elemento que lo contenga
***********************************/
.responsive-text {
  font-weight: 300; }
  @media only screen and (min-width: 360px) {
    .responsive-text {
      font-size: 1.2em; } }
  @media only screen and (min-width: 390px) {
    .responsive-text {
      font-size: 1.224em; } }
  @media only screen and (min-width: 420px) {
    .responsive-text {
      font-size: 1.248em; } }
  @media only screen and (min-width: 450px) {
    .responsive-text {
      font-size: 1.272em; } }
  @media only screen and (min-width: 480px) {
    .responsive-text {
      font-size: 1.296em; } }
  @media only screen and (min-width: 510px) {
    .responsive-text {
      font-size: 1.32em; } }
  @media only screen and (min-width: 540px) {
    .responsive-text {
      font-size: 1.344em; } }
  @media only screen and (min-width: 570px) {
    .responsive-text {
      font-size: 1.368em; } }
  @media only screen and (min-width: 600px) {
    .responsive-text {
      font-size: 1.392em; } }
  @media only screen and (min-width: 630px) {
    .responsive-text {
      font-size: 1.416em; } }
  @media only screen and (min-width: 660px) {
    .responsive-text {
      font-size: 1.44em; } }
  @media only screen and (min-width: 690px) {
    .responsive-text {
      font-size: 1.464em; } }
  @media only screen and (min-width: 720px) {
    .responsive-text {
      font-size: 1.488em; } }
  @media only screen and (min-width: 750px) {
    .responsive-text {
      font-size: 1.512em; } }
  @media only screen and (min-width: 780px) {
    .responsive-text {
      font-size: 1.536em; } }
  @media only screen and (min-width: 810px) {
    .responsive-text {
      font-size: 1.56em; } }
  @media only screen and (min-width: 840px) {
    .responsive-text {
      font-size: 1.584em; } }
  @media only screen and (min-width: 870px) {
    .responsive-text {
      font-size: 1.608em; } }
  @media only screen and (min-width: 900px) {
    .responsive-text {
      font-size: 1.632em; } }
  @media only screen and (min-width: 930px) {
    .responsive-text {
      font-size: 1.656em; } }
  @media only screen and (min-width: 960px) {
    .responsive-text {
      font-size: 1.68em; } }
  @media only screen and (max-width: 360px) {
    .responsive-text {
      font-size: 1.2em; } }

/***********************************
 Para las tabs
***********************************/
.tabs .tab {
	background-color: #fafafa;
}
.tabs .tab a {
	color: #616161;
}
.tabs .tab a:hover {
	color: #bdbdbd;
}
.tabs .tab.disabled a {
	color: #bdbdbd;
}
.tabs .indicator {
	background-color: #0097a7;
}

/***********************************
 Regiones de grafica de ruido
***********************************/
.c3-region.regionGreen  {
  		fill: green;
	}
	.c3-region.regionGreen rect  {
  		fill-opacity: 0.05 !important;
	}
	.c3-region.regionYellow {
  		fill: yellow;
	}
	.c3-region.regionYellow rect  {
  		fill-opacity: 0.05 !important;
	}
	.c3-region.regionRed {
  		fill: red;
	}
	.c3-region.regionRed rect  {
  		fill-opacity: 0.05 !important;
	}

/***********************************
 Range
***********************************/
input[type=range] + .thumb {
	background-color: #0097a7;
}
input[type=range] + .thumb .value {
	color: #0097a7;
}
input[type=range]::-webkit-slider-thumb {
	background-color: #0097a7;
}
input[type=range]::-moz-range-thumb {
	background: #0097a7;
}
input[type=range]::-ms-thumb {
	background: #0097a7;
}

/***********************************
 Tooltips
***********************************/
.backdrop {
  background-color: #9e9e9e;
}
.material-tooltip {
	color: #ffffff;
}

/***********************************
 Iconos ocultos de las cards
***********************************/
.card:hover .icono-oculto {
	visibility: visible;
  	opacity: 1;
}
@media only screen and (min-width: 993px) {
	.icono-oculto {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.25s ease;
	}
}
.icono-oculto:hover {
	color: #e57373;
	animation: ampliacion .15s ease 1;
}
tr:hover .icono-oculto-tabla {
	visibility: visible;
  	opacity: 1;
}
@media only screen and (min-width: 993px) {
	.icono-oculto-tabla {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.25s ease;
	}
}
.icono-oculto-tabla:hover {
	color: #e57373;
	animation: ampliacion .15s ease 1;
	cursor:pointer;
}

/***********************************
 Animaciones
***********************************/
.latido {
	animation: ampliacion .25s ease 1;
}
@keyframes ampliacion {
	0%   {transform: scale(1);}
    50%  {transform: scale(1.15);}
    100% {transform: scale(1);}
}


