{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
	  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
      <style>
      .contImg{
      	   	width: 100%;
			padding-top: 100%; 	
    		background-size: cover;
    		background-position: 50% 50%;				
      }

      </style>

    </head>

    <body>
		<header id="navbar">
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
					<a href="/" class="brand-logo center">Quikentrada</a>
					</div>
				</nav>
			</div>
		</header>
	
		<main>
			<div class="container">
				<div id="structure" class="section">
					<div class="row">
						

						<div class="col s3">
							<div class="card hoverable" style="background-color: #1A1F54;">
								<div class="card-content">
								  <div class="row">
								    <form id="searchForm" class="col s12" action="/advanced_search">
								    	
								      <div class="row">
								        <div class="input-field col s12">
								          <input id="first_name" type="text" name="name" class="validate" value="{{ search.name }}" >
								          <label for="first_name">Event</label>
								        </div>
								      </div>
								      <div class="row">
								        <div class="input-field col s12">
								          <label id="dateLabel" name="date_start" for="date">Date</label>
								          <input placeholder="Fecha" id="date_start" name="date_start" type="text" value="{{ search.date_start }}" class="datepicker validate" onchange="$('#dateLabel').addClass('active');">
								        </div>
								      </div>
								      <div class="row">
								        <div class="input-field col s12">
								          <input id="" type="text" name="location" value="{{ search.location }}" class="validate">
								          <label for="password">Place</label>
								        </div>
								      </div>
								      <div class="row">
										  <div class="input-field col s12">
										    <select name="type">
										      <option value="" disabled selected>Choose a type</option>
										      {% for tipo_evento in tipo_eventos %}
										      <option value="{{tipo_evento.id_tipoevento}}">{{tipo_evento.nombre_tipoevento}}</option>
										      {% endfor %}
										    </select>
										    <label>Type</label>
										  </div>
								      </div>
								      <div class="row">
								        <div class="input-field col s12">
								    		<a class="waves-effect waves-light btn amber darken-3 right" onclick="$('#searchForm').submit()"><i class="material-icons left">search</i>Search</a>
								        </div>
								      </div>
								    </form>
								  </div>

								</div>
							</div>
						</div>

					{% for evento in eventos %}
						
						<div class="col s3">
							<div class="card hoverable" onclick="location.href ='/event/?id_event={{evento.id_evento}}'" style="cursor:pointer;">
						            <div class="card-image contImg" style="background-image:url({{evento.imagen.url}});">
						            </div>
								<div class="card-content">
									<h5>{{ evento.nombre }}</h5>
									{{ evento.descripcion }}
								</div>
							</div>
						</div>

					{% endfor %}



					</div>
				</div>
			</div>
		</main>
	
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
      <script type="text/javascript">
    	$( document ).ready(function() {
			$('.datepicker').pickadate({
    			selectMonths: true,
    			selectYears: 15,
    			format: 'yyyy-mm-dd'   
			});
			$('select').material_select();
		});
      </script>

    </body>
  </html>