
{% load staticfiles %}
<!DOCTYPE html>

<html lang="es-es" >
<head>
<title>Sitio administrativo | Sitio de administración de Django</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<link type="text/css" rel="stylesheet" href="{% static 'css/c3.min.css' %}"  media="screen,projection"/>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard"
  data-admin-utc-offset="7200">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Administración de Django</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Bienvenido/a,
                <strong>angel</strong>.
            
            
                
                    <a href="/">Ver el sitio</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Cambiar contraseña</a> /
                
                <a href="/admin/logout/">Terminar sesión</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Sitio administrativo</h1>
        
<div id="content-main">


    <div id="graph">    </div>
    

</div>

        
 

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->





<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>
<script>
        $( document ).ready(function() {


            $.ajax({
                url : "age_stats/", // the endpoint
                type : "POST", // http method
                success : function(data) {

                var cultural = ['Cultural'];
                var deportivo = ['Deportivo'];
                var otros = ['Otros'];

                $.each(data, function( index, object ) {
                    cultural.push( object.Cultural);
                    deportivo.push( object.Deportivo);
                    otros.push( object.Otros);
                });

                var chart = c3.generate({
                    bindto: "#graph",
                    data: {
                        columns: [
                            cultural,
                            deportivo,
                            otros,
                        ],
                        type: 'bar'
                    },
                    bar: {
                        width: {
                            ratio: 0.5 // this makes bar width 50% of length between ticks
                        }
                        // or
                        //width: 100 // this makes bar width 100px
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: ['<20', '20-40', '40-60', '60-80', '>80']
                        }
                    }
                });


                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });



      </script>
    </body>
  </html>