<!DOCTYPE>
	<html>
		<head>
			<title>{{ evento.nombre }}</title>
		</head>
		<body>
			<p>Nombre: {{ evento.nombre }}</p>
			{% if evento.imagen %}
			<img src="{{evento.imagen.url}}" width="150" heigth="150">
			{% endif %}
			<p>Fecha: {{ evento.fecha }}</p>
			<p>Lugar: {{ evento.lugar }}</p>
			<p>Descripción: {{ evento.descripcion }}</p>
			<p>Capacidad: {{ evento.capacidad }}</p>
<!-- 			<p>Entradas Vendidas: {{ evento.entradas_vendidas }}</p> -->

			<h4>Consulta sobre disponibilidad</h4>
			<p>Disponibilidad de entradas: {{disponibilidad}}</p>
			<p>Precio de Entradas: € {{ evento.precio }}</p>

		</body>
	</html>
