{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
    	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    	<style>
      		.contImg{
      		   	width: 100%;
				padding-top: 100%; 	
    			background-size: cover;
    			background-position: 50% 50%;				
      		}
    	</style>
    </head>

    <body>
		<header id="navbar">
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
					<a href="/" class="brand-logo center">Quikentrada</a>
					</div>
				</nav>
			</div>
		</header>
	
		<main>
			<div class="container">
				<div id="structure" class="section">
					<div class="row">
						<div class="col s10 offset-s1">
							<div class="card hoverable">
								<div class="card-content">

									<div class="row">
										<div class="input-field col s3 contImg">
											<div class="contImg" style="background-image:url({{evento.imagen.url}});"> </div>
										</div>

										<div class="input-field col s9">
											<h5>{{ evento.nombre }}</h5>
											<p>{{ evento.descripcion }}</p>

											{% if evento.imagen %}
											
											{% endif %}

								            {% for sesion in sesiones %}
								      
								            {% endfor %}

										</div>
									</div>
									<div class="row">
										<div class="col s12">
											<ul class="collection with-header">
												<li class="collection-header"><h4>Sesiones Disponibles</h4></li>

												{% for sesion in sesiones %}
												<li class="collection-item avatar">
												{% if sesion.disponible <= 0 %}
													<i class="material-icons circle grey">close</i>
												{% else %}
													<i class="material-icons circle green">check</i>
												{% endif %}
													<div class="row">
														<div class="col s9">
															<span class="title">{{sesion.ciudad}} ({{sesion.lugar}})</span>
															<p>{{sesion.sesion}}<br>

															{% if sesion.disponible <= 0 %}
																Sold Out
															{% else %}
																{{sesion.disponible}} available
															{% endif %}

															</p>	
														</div>
														<div class="col s1">
															<br><h6>{{sesion.id_evento.precio}}€</h>
														</div>
														<div class="col s2">
															{% if sesion.disponible <= 0 %}
																<br> <a class="waves-effect waves-light btn disabled amber darken-3">Comprar</a>	
															{% else %}
																<br> <a href="/buy_ticket/?id={{evento.id_evento}}&sesionId={{sesion.id_sesion}}" class="waves-effect waves-light btn amber darken-3" onclick="" >Comprar</a>
															{% endif %}
														</div>
													</div>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    </body>
  </html>
