<!DOCTYPE>
	<html>
		<head>
			<title>{{ evento.nombre }}</title>
		</head>
		<body>
			<form action="/account_data/" method="get">
				<label>Nombre: </label><input id="name" name="name" type="text"><br>
				<label>Apellido(s): </label><input id="last_name" name="last_name" type="text"><br>
				<label>DNI: </label><input id="dni" name="dni" type="number" min="1000000000" max="9999999999"><br>
				<label>Teléfono: </label><input id="phone" name="phone" type="text"><br>
				<label>Edad: </label><input id="age" name="age" type="number" min="1" max="125"><br>
				<label>Email: </label><input id="email" name="email" type="email"><br>
				<input type="submit">Siguiente</input>
			</form>

		</body>
	</html>