<!DOCTYPE>
	<html>
		<head>
			<title>Entrada - Formato Electrónico</title>
		</head>
		<body>
			<p>Compra Realizada con éxito!</p>
			<h1>Entrada - Formato Electrónico</h1>
			<h2>Datos de la Entrada</h2>
			Entrada Nro: <br>
			Precio Entrada: € {{ evento.precio }}</p>

			<h2>Datos del cliente</h2>
			Nombre: {{name}}<br>
			Apellido: {{last_name}}<br>
			DNI: {{dni}}<br>
			Teléfono: {{phone}}<br>
			Edad: {{age}}<br>
			Email: {{email}}<br>

			<h2>Datos del evento</h2>
			Nombre Evento: {{evento.nombre}}<br>
			Fecha del Evento: {{sesion.sesion}}<br>
			Ciudad: <br>
			Lugar: {{ evento.lugar }}<br>
			{% if evento.imagen %}
			<img src="{{evento.imagen.url}}" width="150" heigth="150">
			{% endif %}
		</body>
	</html>